<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>QuiNYelaX</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/normalize.min.css">
        <link rel="stylesheet" href="/static/css/main.css">

        <script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">QuiNYelaX</h1>
                <img src="/static/img/2.png" />
                <nav>
                    <ul>
                        <li><a href="/">Grupos</a></li>
                        <!-- <li><a href="/participar">Participar</a></li>
                        <li><a href="/resumen">Resumen</a></li>
                        <li><a href="/participantes">Participantes</a></li> -->
                    </ul>
                </nav>
            </header>
        </div>
        {% if not errorMessage == '' %}
            <div class="errorMessage"><p>{{ errorMessage }}</p></div>
        {% endif %}
        {% if not successMessage == '' %}
            <div class="successMessage"><p>{{ successMessage }}</p></div>
        {% endif %}
        <div class="main-container">
            <div class="main wrapper clearfix">
                {% for g in groups %}
                    <article class="group">
                        <ul>
                            <li><article class="team"><b>Grupo {{ g.0.group.0 }}</b></article><article class="pts"><b>Puntos</b></article></li>
                            {% for t in g %}
                            <li><article class="team"><img src="/static/img/flagsSmall/{{t.name}}.png"/>&nbsp;{{t.name}}</article><article class="pts">{{ t.points }}</article></li>
                            {% endfor %}
                    </article>
                    
                {% endfor %}
                <div class="clear"></div>
                <a href="http://www.fifa.com/worldcup/groups/index.html" target="_blank">Mas información</a>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                {% include 'subscriberForm.html' %}
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

        <script src="/static/js/main.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41442838-2', 'phonnz.me');
          ga('send', 'pageview');

        </script>
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-18274608-2', 'nyxtechnology.com');
          ga('send', 'pageview');

        </script>
    </body>
</html>
